.section-wrapper {
  background: url('./bg.png');
  background-size: cover;
  width: 100%;
  padding: 40px 80px; /* adjust spacing */
}

.section-heading {
  margin-left: 30px;
  margin-bottom: 40px;
}

.heading-label {
  font-size: 18px;
  color: #e85a4f;
  font-weight: 600;
}

.heading-title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  max-width: 900px;
  line-height: 1.2;
}

.heading-title span {
  color: #e85a4f; /* red highlight */
}

.carousel-container {
    
  color: white;
  width: 100%;
  max-width: 1800px;
  height: 100%;
  max-height: 2500px;
  margin: 0 auto;
  position: relative;
  padding: 0 55px;
  box-sizing: border-box;
}

.enroll{
    font-size:16px;
    font-weight:500;
    color:#606060;
    margin-bottom:2px;
}

.card-title{
    font-size:24px;
    font-weight:700;
    margin-top:5px;
    color:#fff;
}

.card-sub{
    font-style: italic;
    color:#e85a4f;
    font-weight:300;
    opacity: 0.7;
}

.carousel-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  
}

.carousel-slider {
  display: flex;
  width: 95%;                     
  transition: transform 0.45s ease;
  gap: 24px;
  box-sizing: border-box;
}

.flip-card {
  flex: 0 0 calc(33.333% - 16px);   
  height: 500px;                   
  perspective: 1000px;
  box-sizing: border-box;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  position: relative;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  inset: 0;
  border-radius: 22px;
  background: #000;
  overflow: hidden;
  padding: 24px;
  box-sizing: border-box;
  backface-visibility: hidden;
  border: #e85a4f 5px solid;
}

.flip-card-front img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 14px;
  
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.nav-button {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
  background: #222;
  border-radius: 25%;
  color: white;
  border: none;
  z-index: 50;
  cursor: pointer;
}

.nav-button.left { left: 2px; }
.nav-button.right { right: 2px; }

.nav-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.explore-button{
  margin: 15px auto 0;
  display: block;
  margin-top: 15px;
  font-weight: 800;
  
  padding: 0.6rem 1.4rem;
  color: white;
  background: var(--orange-gradient);
  border: none;
  border-radius: 6px;
  transition: all 300ms ease-in;
}


.explore-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Mobile Fix */
@media (max-width: 600px) {

.section-wrapper {
  padding:20px;
}

.heading-title {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  max-width: 900px;
  line-height: 1.2;
}

.heading-title span {
  color: #e85a4f; /* red highlight */
}
  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .carousel-viewport {
    width: 100%;
  }

  .carousel-slider {
    display: flex;
  }

  .carousel-slider {
  width: 100%;                     
  gap: 0px;
  box-sizing: border-box;
}

  .flip-card {
    min-width: 100% !important; /* one card per screen */
    margin: 0 auto !important;
  }

  .flip-card-front img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 14px;
  
}


.nav-button {
  position: absolute;
  background: #222;
  border-radius: 25%;
  z-index: 50;
  cursor: pointer;
  top: 45% !important;
  width: 30px !important;
  height: 36px !important;
  font-size: 20px !important;
}

  .nav-button.left {
    left: 1px !important;
  }

  .nav-button.right {
    right: 1px !important;
  }

  /* Button fix */
  .explore-button {
    margin-top: 20px !important;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
