.mosaic-wrapper {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  gap: 20px;
  width: 100%;
  /* margin: 20px auto; */
}

/* Columns */
.col {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

/* Card styles */
.card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}

.card:hover{
    box-shadow: 0 4px 20px #ffffff36;
    transition: transform .45s ease;
    transform: rotateY(-10deg);  /* 3D linear tilt */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: transform .45s ease;
}

/* Hover zoom */
.card:hover img {
  transform: scale(1.05);
}

.medium {
  height: 230px;
}