.r-container{
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  padding: 0 55px;
  box-sizing: border-box;
}

.r-head{
  margin-bottom: 2rem;
}

.r-card{
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 40px;
  max-width: max-content;
  margin: auto;
  transition: all 300ms ease-in;
}
.r-card>img{
  width: 100%;
  max-width: 95rem;
}
.r-card:hover{
  scale: 1.025;
  cursor: pointer;
  background: linear-gradient(
  180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 96, 96, 0.46) 217.91%
  );
  box-shadow: 0px 72px 49px -51px rgba(255, 96, 96, 0.46);;
}
.swiper-horizontal{
  overflow: visible;
}

.left-button{
  position: absolute;
  gap: 1rem;
  top: 40%;
  width: 0;
  height: 50px;
  left: 0;
}
.right-button{
  position: absolute;
  gap: 1rem;
  top: 40%;
  width: 0;
  height: 50px;
  right: 0;
}

.left-button button{
  font-size: 4.2rem;
  padding: 1rem 2rem;
  color:brown;
  border: none;
  border-radius: 10px;
  background: transparent;
  z-index: 50;
}
.right-button button{
  font-size: 4.2rem;
  padding: 1rem 2rem;
  color:brown;
  border: none;
  border-radius: 10px;
  background: transparent;
  z-index: 50;
}