.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  margin-bottom: 2px;
}

.wrapper {
  display: grid;
  align-items: flex-end;
  width:100%;
  grid-template-columns: 1fr 2fr 1fr;;
}

.wrapper>img:hover{
  transform: rotateY(0deg) scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.wrapper>img{
width: 30rem;
justify-self: center;
}

.container{
display: flex;
flex-direction: column;
gap: 1rem;
}

.container>:nth-child(1)
{
    font-size: 2rem;
    color: rgb(232,87,73);
    text-transform: uppercase;
    display: block;
    font-weight: bold;;
}

.container>:nth-child(2)
{
    font-size: 0.8rem;
    text-transform: uppercase;
    display: block;
    font-style: italic;
}

.wrapper>:nth-child(3){
    text-align: right;
}

.reviews{
    font-size: 2rem;
    color: rgb(232,87,73);
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    text-shadow: white;
    z-index: 1;
}

.carousel{
    width: 100%;
    margin-top: 5px;
}

.tCarousel{
    padding: 2rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--orange-gradient);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0rem 1rem 3rem -50px #7d7d7d;
    animation: slide 5s linear infinite reverse;
    margin-bottom: 2px;
}

.carousel:hover .testimonial{
  animation-play-state: paused;
}

.testimonial>img{
position: absolute!important;
width: 5rem!important;
top: -2.2rem!important;
height: 5rem;
object-fit: cover;
border-radius: 50%;
left: 50%;
transform: translateX(-50%);
}

.testimonial>span:nth-of-type(1)
{
align-items: center;
font-size: 0.8rem;
letter-spacing: 1px;
margin-top: 2rem;
}

.testimonial>hr{
height: 1px;
width: 80%;
background: rgb(198, 198, 198);
border: none;
}

.testimonial>span:nth-of-type(2)
{
font-weight: 500;
}

@keyframes slide {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}